body {
    max-width: 50em;
    margin: 0 auto;
    /* Styling */
    font-family: 'ZCOOL XiaoWei', serif;
}


.charsheet-container {
    align-items: stretch;
    justify-content: space-between;
    display: grid;
    grid-template-columns: [border-left] auto [col1] 40% [col2] 10px [col3] 40% [col4] auto [border-right];
    grid-template-rows: [border-top] 10px [row1] auto [row2] 10px [row3] auto [row4] 10px [row5] auto [row6] 20px [row7] 20% [row8] 10px [row9] 20% [row10] 10px [row11] 20% [row12] auto [border-bottom];
    grid-template-areas: ". . . . ."
        ". head head head ."
        ". . . . ."
        ". stats stats stats ."
        ". . . . ."
        ". abilities abilities abilities ."
        ". . . . ."
        ". saves . skills ."
        ". . . skills ."
        ". feats . skills ."
        ". . . skills ."
        ". proficiencies . skills ."
        ". . . . .";

}




/* Character header */
.char-section-header {
    /* On the parent grid */
    grid-area: head;
    /* Child grid */
    display: grid;
    grid-auto-flow: column;
    /* Styling */
    background: gray;
}

/* Character stats */
.char-section-stats {
    /* On the parent grid */
    grid-area: stats;
    /* Child grid */
    display: grid;
    grid-template-columns: 100px 100px 140px 100px 100px;
    justify-content: space-between;
    grid-auto-flow: column;
    grid-column-gap: auto;
    grid-template-rows: 150px;
    /* Styling */
}

.char-stats-card {
    background-image: url("/static/images/frame_skills.png");
    background-size: 100% 100%;
    background-origin: border-box;
    /* Child grid */
    display: grid;
    align-content: space-around;
    justify-content: center;
    align-self: center;
    justify-items: center;
    grid-auto-flow: rows;
    grid-row-gap: auto;
    height: 60%;
}

.stats-header {
    font-size: smaller;
    padding-top: 10%;
}

.stats-value {
    font-size: x-large;
}

.stats-footer {
    font-size: smaller;
    padding-bottom: 10%;
}



/* AC has unique box */
.char-stats-armorclass {
    background-image: url("/static/images/frame.ac.png");
    background-size: 100% 100%;
    background-origin: border-box;

    /* Child grid */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: rows;
    grid-row-gap: auto;
}

.header {
    padding-top: 45%;
    text-align: center;
    font-size: large;
}

.value {
    text-justify: center;
    justify-self: center;
    font-size: xx-large;
}

.footer {
    text-align: center;
    font-size: large;
    padding-bottom: 45%;
}


/* Characteristics and mods */
.char-section-abilities {
    /* On the parent grid */
    grid-area: abilities;

    /* Child grid */
    display: grid;
    grid-template-columns: repeat(6, 100px);
    justify-content: space-between;
    grid-auto-flow: column;
    grid-column-gap: auto;
}

.char-card-ability {
    background-image: url("/static/images/frame_abil.png");
    background-size: 100% 100%;
    background-origin: border-box;
    /* Child grid */
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
    justify-items: center;
}

.char-card-ability-header {
    padding-top: 15%;
    text-align: center;
    font-size: x-small;
}

.char-card-ability-center {
    /* Child grid */
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0;
}

.char-card-ability-score {
    justify-self: left;
    font-size: x-large;
}

.char-card-ability-sign {
    font-size: x-large;
    justify-self: right;
}

.char-card-ability-footer {
    padding-top: 10px;
    position: relative;
    bottom: 30%;
}


/* Saves */
.char-section-saves {
    background-image: url("/static/images/frame_skills.png");
    background-size: 100% 100%;
    background-origin: border-box;
    /* Parent grid */
    grid-area: saves;
    /* Child grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    /* Styling */
}

.char-section-save {

    /* Child grid */
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* Styling */

}

.char-section-save-adv {
    justify-self: center;
    /* Styling */

}

.char-section-save-prof {
    justify-self: center;
    /* Styling */

}

.char-section-save-mod {
    justify-self: center;
    /* Styling */
}

.char-section-save-bonus {
    justify-self: center;
    /* Styling */

}

/* Skills */
.char-section-skills {
    background-image: url("/static/images/frame_skills.png");
    background-size: 100% 100%;
    background-origin: border-box;
    /* Parent grid */
    grid-area: skills;
    /* Child grid */
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 5px;
    /* Styling */
}

.char-section-skill {
    /* Child grid */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20px 40px auto 20px;
    grid-column-gap: 10px;

    /* Styling */
}

.char-section-skill-prof {
    justify-self: center;
}

.char-section-skill-mod {
    justify-self: center;
}

.char-section-skill-name {}

.char-section-skill-bonus {
    justify-self: right;
}