<!DOCTYPE HTML>

<html>
<!-- Stylesheets -->

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/charsheet.css')}}">
<link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">

<!-- Header -->

<head>
    <title>
        {{ charName }} - {{ charLevel }} Character Sheet
    </title>

</head>

<!-- Body -->

<body>
    <div class="charsheet-container">
        <!-- Char header -->
        <div class="char-section-header">
            <div>
                Name
            </div>
            <div>
                Level
            </div>
            <div>
                other things
            </div>
        </div>

        <!-- Stats -->
        <div class="char-section-stats">
            <div class="char-stats-card">
                <div class="stats-header">
                    PROFICIENCY
                </div>
                <div class="stats-value">
                    +2
                </div>
                <div class="stats-footer">
                    BONUS
                </div>
            </div>
            <div class="char-stats-card">
                <div class="stats-header">
                    INITIATIVE
                </div>
                <div class="stats-value">
                    -1
                </div>
                <div class="stats-footer">
                    MODIFICATOR
                </div>
            </div>
            <div class="char-stats-armorclass">
                <div class="header">
                    ARMOR
                </div>
                <div class="value">
                    15
                </div>
                <div class="footer">
                    CLASS
                </div>
            </div>
            <div class="char-stats-card">
                <div class="stats-header">
                    WALK/FLY
                </div>
                <div class="stats-value">
                    25/50ft
                </div>
                <div class="stats-footer">
                    SPEED
                </div>
            </div>
            <div class="char-stats-card">
                    <div class="stats-header">
                        BODY
                    </div>
                    <div class="stats-value">
                        M
                    </div>
                    <div class="stats-footer">
                        SIZE
                    </div>
                </div>

        </div>

        <!-- Abilities -->
        <div class="char-section-abilities">
            {% for item in mods %}
            <div class="char-section-ablility-box">
                <div class="char-card-ability">
                    <div class="char-card-ability-header centered">
                        <span class="char-card-ablity-label centered">
                            {{ item.name }}
                        </span>
                    </div>
                    <div class="char-card-ability-center">
                        <div class="char-card-ability-sign">
                            {{ item.sign }}
                        </div>
                        <div class="char-card-ability-score">
                            {{ item.mod }}
                        </div>
                    </div>
                    <div class="char-card-ability-footer centered">
                        <span class="chard-card-ability-mod">
                            {{ item.value }}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


        <!-- Saves -->
        <div class="char-section-saves">
            {% for save in saves %}
            <div class="char-section-save">
                <div class="char-section-save-adv">
                    <span>
                        {{ save.adv }}
                    </span>
                </div>
                <div class="char-section-save-prof">
                    <span>
                        {{ save.prof }}
                    </span>
                </div>
                <div class="char-section-save-mod">
                    <span>
                        {{ save.name }}
                    </span>
                </div>
                <div class="char-section-save-bonus">
                    <span>
                        {{ save.bonus }}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Skills -->
        <div class="char-section-skills">
            {% for skill in skills %}
            <div class="char-section-skill">
                <div class="char-section-skill-prof">
                    <span>
                        {{ skill.prof }}
                    </span>
                </div>
                <div class="char-section-skill-mod">
                    <span>
                        {{ skill.mod }}
                    </span>
                </div>
                <div class="char-section-skill-name">
                    <span>
                        {{ skill.name }}
                    </span>
                </div>
                <div calss="char-section-skill-bonus">
                    <span>
                        {{ skill.bonus }}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> <!-- Parent container end  -->
</body>

</html>