<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}

{% endblock head %}

{% block body %}
<div id="Title" style="text-align: center;"> {{title}}</div>
<form action="{{ url_for('build_character')}}" method="POST">
    <select name="selector" id="sel">
        {% for item in selection %}
        <option value="{{race.name}}">
            {{item.name}}
        </option>
        {% endfor %}
    </select>
    <input type="submit" value="Next!">
</form>
<form action="{{ url_for('build_character', from_scratch = True)}}" method="POST">
    <input type="submit" value="Start from the beginning!">
</form>


<div>
    So far:
    <ul>
        {% for key, value in selections %}
        <li>{{ Key }} : {{ Value }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock body %}